In [1]:
# Sequence data types 
# range - returns series of numbers 
# range(start, end+1, step)
# used for looping and creating of lists and tuples
for i in range(1,11,3):
    print(i,end=' ')

1 4 7 10

In [4]:
# list 
# ordered collection
# supports duplicates
# mutable object
# hetrogenous support
lst = []
print(lst)
print(type(lst))
# tuple
# ordered collection
# supports duplicates
# immutable object
# hetrogenous object
tup = ()
print(tup)
print(type(tup))

[]
<class 'list'>
()
<class 'tuple'>

In [9]:
# mutable - changable after creation
# immutable - unchangable after creation

# list methods 
# Adding elements
# append - add element to last index
# insert - add element at specific index
# extend - add mutliple elements
lst = [1,2,3]
lst.append(50)
lst.insert(2,100)
lst.extend([12,34,55])
print(lst)
# Removing elements
# pop - removes from last and returns
# remove - removes mentioned element
# clear - removes whole list elements
print(lst.pop(), 'was removed')
lst.remove(2)
print(lst)
lst.clear()
print(lst)
# index - returns index of element
lst = [1,2,3]
print(lst.index(3))
# sort - sorts list elements in ASC or DESC
lst = [12,35,23,67,44]
lst.sort(reverse=True) # DESC
print(lst)
lst.sort(reverse=False) # ASC
print(lst)
# reverse - reversing index positions
lst = [12,45,23]
lst.reverse()
print(lst)
# count - counts no of elements
lst = [12,34,22,11,12,12]
print(lst.count(12))

[1, 2, 100, 3, 50, 12, 34, 55]
55 was removed
[1, 100, 3, 50, 12, 34]
[]
2
[67, 44, 35, 23, 12]
[12, 23, 35, 44, 67]
[23, 45, 12]
3

In [11]:
# tuple methods 
t = 1,2,3,4,5
print(t)
# count - to count no of elements
print(t.count(3))
# index - returns index of element
print(t.index(3))

# len - returns no of elements
# common to lists and tuples
print(len(t))

(1, 2, 3, 4, 5)
1
2
5

In [13]:
# sorted and reversed 
# built-in functions used to sort and reverse
t = 12,45,35,57,34,23
t1 = tuple(sorted(t,reverse=True))
print(t1)
t2 = tuple(reversed(t))
print(t2)

(57, 45, 35, 34, 23, 12)
(23, 34, 57, 35, 45, 12)

In [16]:
# slicing and accessing 
lst = [12,34,56,23]
print(lst[0])
print(lst[-3])
print(lst[1:5])
print(lst[::-1])

12
34
[34, 56, 23]
[23, 56, 34, 12]

In [14]:
# sets & dictionaries
# unordered collection
# mutable objects
# set items are immutable
# set doesn't accept duplicates
# dictionary are key-value pairs
# dictionary keys are immutable

s1 = set() # empty set
print(s1)

d1 = {} # empty dict
print(d1)

set()
{}

In [18]:
# set methods 
# add elements 
# add - adds single element
# update - adds or joins another set 
s1 = set()
s1.add(12)
s1.add(13)
s1.add(12)
s1.update({12,13,14})
print(s1)
# remove elements
# discard - removes element or no error
# pop - removes element and returns or error
s1.discard(10000)
s1.pop()
print(s1)
# clear - remove all
s1.clear()
print(s1)

{12, 13, 14}
{13, 14}
set()

In [26]:
# set operations 
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
# union - all elements only once = |
print(s1 | s2)
# intersection - all common elements = &
print(s1.intersection(s2))
# difference - all uncommon elements from set 1 = -
print(s1 - s2)
# symmetric difference - all uncommon elements = ^
print(s1 ^ s2)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}

In [24]:
# unordered object don't accessed or sliced
d1 = {}
# dictionary methods
# update - to add another pair or updates
d1.update({"name": "mandy"})
d1.update({"name": "john"})
d1.update({"city":"Hyderabad"})
print(d1)
# accessing or adding key-value 
print(d1['name'])
print(d1['city'])
d1['key3'] = 'value3'
# get - to access elements 
print(d1.get('country')) # None
# delete values
# pop - removes pair based on key
# popitem - removes and returns from last
d1.pop('key3')
print(d1.popitem())
print(d1)
# clear - remove all pairs
d1.clear()
print(d1)

{'name': 'john', 'city': 'Hyderabad'}
john
Hyderabad
None
('city', 'Hyderabad')
{'name': 'john'}
{}

In [25]:
# keys, values and items
d1 = {
    "name": "mandy",
    "city": "hyd",
    'country': 'india'
}
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['name', 'city', 'country'])
dict_values(['mandy', 'hyd', 'india'])
dict_items([('name', 'mandy'), ('city', 'hyd'), ('country', 'india')])

In [29]:
for key in d1.keys():
    print(key,end=' ')
print()
for value in d1.values():
    print(value,end=' ')
print()
print()
for key in d1:
    print(f'{key} = {d1[key]}')
print()
for key,value in d1.items():
    print(f'{key} => {value}')

name city country
mandy hyd india

name = mandy
city = hyd
country = india

name => mandy
city => hyd
country => india